body {
    background-color: #98ffb5; 
    
    color: #ffffff; 
    
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #964cf0;
    margin-bottom: 20px;
}

h2, h3, h4 {
    margin: 10px 0;
}

h4 {
    color: #25aef7;
}